/* line 5, ../sass/style.scss */
.dynamic-brand {
  max-height: 50px;
  margin: 10px 0px; }

/* line 10, ../sass/style.scss */
.header {
  margin-top: 10px; }

/* line 14, ../sass/style.scss */
#main-nav {
  margin-bottom: 10px; }

/* line 18, ../sass/style.scss */
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #eeeeee;
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

/* line 27, ../sass/style.scss */
div.box {
  border-radius: 5px;
  background-color: white;
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #cccccc; }
  /* line 32, ../sass/style.scss */
  div.box.flat-bottom {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  /* line 36, ../sass/style.scss */
  div.box.square {
    border-radius: 0px; }
  /* line 39, ../sass/style.scss */
  div.box.bottom-pad {
    padding-bottom: 15px; }
  /* line 42, ../sass/style.scss */
  div.box.top-pad {
    padding-top: 15px; }

/* line 47, ../sass/style.scss */
.page-contents {
  margin-top: 50px;
  height: auto; }

/* line 52, ../sass/style.scss */
.rule {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px; }

/* line 58, ../sass/style.scss */
#current-team-name .label {
  top: -7px;
  position: relative;
  left: 5px;
  margin-right: 5px; }
/* line 64, ../sass/style.scss */
#current-team-name .small {
  margin-top: 5px; }

/* line 69, ../sass/style.scss */
.navbar {
  border-radius: 0px;
  background: #5f027e; }
  /* line 72, ../sass/style.scss */
  .navbar.navbar-inverse {
    background: #5f027e; }

/* line 77, ../sass/style.scss */
.top-margin {
  margin-top: 15px; }

/* line 81, ../sass/style.scss */
.status {
  display: inline; }
  /* line 83, ../sass/style.scss */
  .status .small {
    display: inline; }
  /* line 86, ../sass/style.scss */
  .status input {
    display: inline; }

/* line 91, ../sass/style.scss */
#settings {
  padding-top: 10px; }
  /* line 93, ../sass/style.scss */
  #settings .rule {
    margin-top: 10px; }

/* line 98, ../sass/style.scss */
.radio-selector {
  margin-top: 10px; }
  /* line 100, ../sass/style.scss */
  .radio-selector:not(:first-child) {
    margin-bottom: 10px; }
